%h1.heading
  = "Editing team %s" % @team.id
  
- semantic_form_for(@team) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', teams_path
