%h1.heading
  = "Editing mcontact %s" % @mcontact.id
  
- semantic_form_for(@mcontact) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', mcontacts_path
