%h1.heading
  = "Editing access %s" % @access.id
  
- semantic_form_for(@access) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', accesses_path
