%h1.heading
  = 'New Access'
  
- semantic_form_for(@access) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', accesses_path
