- form.inputs do
  = form.input :application, :label => 'Application'
  = form.input :application_login, :label => 'Application login'
  = form.input :atoken, :label => 'Atoken'
  = form.input :asecret, :label => 'Asecret'
