%h1.heading
  = 'New Msocial'
  
- semantic_form_for(@msocial) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', msocials_path
