- form.inputs do
  = form.input :name, :label => 'Name'
  = form.input :owner_user_id, :label => 'Owner user'
  = form.input :industry, :label => 'Industry'
  = form.input :specific_industry, :label => 'Specific industry'
