%h1.heading
  = "Editing organization %s" % @organization.id
  
- semantic_form_for(@organization) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', organizations_path
