%h1.heading
  = 'New Organization'
  
- semantic_form_for(@organization) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', organizations_path
